.fake/
.nuget/
.vs/
.idea/

src/packages/
src/artifacts/

src/**/bin/
src/**/obj/
src/**/umbraco/
src/**/umbraco_client/
src/**/js/
src/**/css/
src/**/scripts/
src/**/views/

.DS_Store
*.user
*.suo
*.log
*.swp
*.bak
*.log
*.orig
src/UmbracoContentFiles/App_Plugins/
src/UmbracoContentFiles/App_Data/
src/UmbracoContentFiles/config/
src/UmbracoContentFiles/Media/
src/UmbracoContentFiles/Global.asax
src/UmbracoContentFiles/default.aspx
src/UmbracoContentFiles/App_Browsers/
src/UmbracoContentFiles/scripts/
Releases/
